﻿@model CarRepairs.UI.Models.RepairPartModel

<h2 class="mt-3 mb-3" style="text-align:center">Naprawa</h2>
<h4>Dodaj część</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RepairId)

        <div class="row">
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Adnotation, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Adnotation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adnotation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-actions no-color text-center mt-4">
            <input type="submit" value="Dalej" class="btn btn-success" />
            @Html.ActionLink("Zakończ", "Edit", "Repair", new {id = Model.RepairId }, new { @class = "btn btn-info" })
        </div>
    </div>
}