﻿@model CarRepairs.UI.Models.ImageModel

<h2>Ustaw zdjęcie pojazdu</h2>

@using (Html.BeginForm("Create", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row bg-light">
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <input type="file" name="ImageFile" required />
                </div>
            </div>

            <div class="form-actions col-12 no-color text-center mt-4 mb-4">
                <input type="submit" value="Zapisz" class="btn btn-success" />
                @Html.ActionLink("Wróć", "Edit", "Vehicle", new {id = Model.Id }, new { @class = "btn btn-light" })
            </div>
        </div>
    </div>
}
