﻿body {
    padding-top: 0;
    margin: 0;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0.5rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav > .nav-item > a{
    margin: 10px;
}

.row > p {
    justify-content: center;
}

/*tr:nth-child(even) {
    background-color: #e6f3ff;
}*/

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: central;
   
}

@media (max-width: 767px){
    .form-control {
        margin: auto;
    }
    .control-label{
        text-align: center;
    }
}

.better-row{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.better-figure {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.better-info {
    margin: 0;
    max-width: 260px;
    margin-top: 1rem;
}

.better-img {
    width: 320px;
    height: 240px;
    align-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@media (max-width: 350px){
    .better-img {
        align-content: center;
        width: 240px;
        height: 180px;
    }
    .better-info > li {
        list-style-type: none;
    }
    .better-info {
        padding:0;
    }
}

.repair-field {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: large;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    color: black;
    border-bottom: solid;
    border-color: #b9deff;
    background-color: #cbe6ff;
}

.repair-field:hover {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: large;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    color: black;
    border-bottom: solid;
    border-color: #b9deff;
    background-color: #b0daff;
}

.repair-empty-field {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: medium;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    color: black;
    border-bottom: solid;
    border-color: #e8e8e8;
}

@media (min-width: 768px) {
    .table-fixed {
        max-width: 780px;
        margin-left:auto;
        margin-right:auto;
    }
}

