﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziennik pojazdów</title>
    <meta name="description" content="Portal służący do przechowywania informacji o pojazdach, przeglądach techicznych, kosztach napraw oraz eksploatacji." />
    <meta name="keywords" content="pojazdy, naprawy, przegląd, techniczny, samochód, auto" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        @Html.ActionLink("Dziennik pojazdów", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            @if (Request.IsAuthenticated)
            {
            <ul class="navbar-nav">
                <li class="nav-item">@Html.ActionLink("Lista pojazdów", "DisplayList", "Vehicle", new object { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Lista napraw", "DisplayList", "Repair", new object { }, new { @class = "nav-link" })</li>
            </ul>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — dziennik pojazdów</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
