﻿@model CarRepairs.ViewModels.VehicleRepairViewModel


<h2 class="mt-3 mb-3" style="text-align:center">@Model.VehicleName </h2>
<h4>Dodaj naprawę</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Repair.VehicleId)

        <div class="row">
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.Place, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.Place, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.Place, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.VehicleMileage, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.VehicleMileage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.VehicleMileage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.Labor, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.Labor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.Labor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.Date, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Repair.Adnotation, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Repair.Adnotation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Repair.Adnotation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-actions no-color text-center mt-4">
            <input type="submit" value="Dalej" class="btn btn-success" />
            @Html.ActionLink("Wróć", "Index", "Home", new object { }, new { @class = "btn btn-light" })
        </div>

    </div>
}