﻿@model CarRepairs.ViewModels.VehicleRepairViewModel

<h2>Usuń naprawę</h2>
<hr />
<div class="alert alert-danger">
    <strong>Uwaga!</strong> Jesteś pewien, że chcesz usunąć tę naprawę?
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row bg-white">
                <div class="col-12 col-md-6">
                    <ul class="better-info">
                        <li><b>Pojazd</b>: @Model.VehicleName</li>
                        <li>Przebieg: @if(Model.Repair.VehicleMileage.Equals(null) || Model.Repair.VehicleMileage.Equals(0))
                        {
                                <i>nieznany</i> 
                            }
                            else
                            {
                                @Model.Repair.VehicleMileage;
                            }
                        </li>
                        <li>Nazwa naprawy: @Model.Repair.Name</li>
                        <li>Robocizna: @Model.Repair.Labor zł</li>
                        <li>Data: @Model.Repair.Date.ToShortDateString()</li>
                        <li>Dodatkowe informacje: 
                            <textarea rows="3" cols="30" readonly> @Model.Repair.Adnotation</textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-light" style="min-height:100px">
                <div class="col-12">
                    <div class="form-actions no-color text-center mt-4">
                        <input type="submit" value="Skasuj" class="btn btn-danger" />
                        @Html.ActionLink("Wróć do listy", "DisplayList", new object { }, new { @class = "btn btn-light" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
