﻿@model CarRepairs.ViewModels.UserRepairsViewModel

<h4>Moje naprawy</h4>

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Lp</th>
            <th scope="col">Pojazd</th>
            <th scope="col">Przebieg</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Koszt</th>
            <th scope="col">Miejsce</th>
            <th scope="col">Data</th>
            <th scope="col">Opcje</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var repair in Model.Repairs)
        {
            {i++;}
            <tr>
                <th scope="row">@i</th>
                <td>@repair.Vehicle.Producent @repair.Vehicle.ModelName</td>
                <td>@repair.GetMileage()</td>
                <td>@repair.Name</td>
                <td>@repair.GetRepairPartsCost() zł</td>
                <td>@repair.Place</td>
                <td>@repair.Date.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = repair.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Usuń", "Delete", new { id = repair.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
