﻿@model CarRepairs.ViewModels.VehicleRepairViewModel


<h2 class="mt-3 mb-3" style="text-align:center">@Model.VehicleName </h2>
<h4>Edytuj naprawę</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Repair.Id)
    @Html.HiddenFor(model => model.Repair.VehicleId)

    <div class="row">
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.Name, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.Place, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.Place, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.VehicleMileage, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.VehicleMileage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.VehicleMileage, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.Labor, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.Labor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.Labor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.Date, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Repair.Adnotation, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Repair.Adnotation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.Adnotation, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <h5 style="text-align:center">Części naprawy</h5>
        <table class="table table-striped table-hover table-responsive-md table-fixed">
            <thead >
                <tr>
                    <th class="text-primary">Dodaj</th>
                    <th scope="col">Lp</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Opcje</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var repairPart in Model.RepairParts)
                {
                    { i++; }
                    <tr>
                        @if (i == 1)
                        {
                        <td>@Html.ActionLink("+", "Create", "RepairPart", new { repairID = Model.Repair.Id }, new { @class = "btn btn-primary" })</td>
                        }
                        else
                        {
                        <td></td>
                        }
                        <th scope="row">@i</th>
                        <td>@repairPart.Name</td>
                        <td>@repairPart.Cost zł</td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", "RepairPart", new { id = repairPart.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Usuń", "Delete", "RepairPart", new { id = repairPart.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       

    <div class="form-actions no-color text-center mt-4">
        <input type="submit" value="Zapisz" class="btn btn-success" />
        @Html.ActionLink("Wróć", "Index", "Home", new object { }, new { @class = "btn btn-light" })
    </div>

</div>
}