﻿@model CarRepairs.UI.Models.VehicleModel

<h2>Dodaj pojazd</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Producent, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Producent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Producent, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.ProductionYear, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ProductionYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductionYear, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.EngineCapacity, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EngineCapacity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EngineCapacity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.EnginePower, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EnginePower, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EnginePower, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-12 col-md-6 col-lg-4">
                @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-actions no-color text-center mt-4">
            <input type="submit" value="Zapisz" class="btn btn-success" />
            @Html.ActionLink("Wróć do listy", "DisplayList", new object { }, new { @class = "btn btn-light" })
        </div>
    </div>
}

