﻿@model CarRepairs.UI.Models.VehicleModel

<h2>Usuń pojazd</h2>
<hr />
<div class="alert alert-danger">
    <strong>Uwaga!</strong> Jesteś pewien, że chcesz usunąć ten pojazd?
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row bg-white">
                <div class="col-12 col-md-6 better-figure">
                    <figure class="better-figure">
                        <img src="/Content/photo.jpg" class="rounded photo-size" alt="@Model.ModelName">
                    </figure>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="better-info">
                        <li><b>Marka</b>: @Model.Producent</li>
                        <li>Model: @Model.ModelName</li>
                        <li>Rok produkcji: @Model.ProductionYear r.</li>
                        <li>Przebieg: @Model.Mileage km</li>
                        <li>Pojemność skokowa: @Model.EngineCapacity cm<sup>3</sup></li>
                        <li>Moc silnika: @Model.EnginePower KM</li>
                        <li>Data zakupu: @Model.PurchaseDate</li>
                        <li>Cena zakupu: @Model.PurchasePrice</li>
                    </ul>
                </div>
            </div>
            <div class="row bg-light" style="min-height:100px">
                <div class="col-12">
                    <div class="form-actions no-color text-center mt-4">
                        <input type="submit" value="Skasuj pojazd" class="btn btn-danger" />
                        @Html.ActionLink("Wróć do listy", "DisplayList", new object { }, new { @class = "btn btn-light" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
