﻿@model CarRepairs.ViewModels.UserVehiclesViewModel

<h4>Moje pojazdy</h4>

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Lp</th>
            <th scope="col">Producent</th>
            <th scope="col">Model</th>
            <th scope="col">Rok produkcji</th>
            <th scope="col">Przebieg</th>
            <th scope="col">Pojemność silnika</th>
            <th scope="col">Moc silnika</th>
            <th scope="col">Data zakupu</th>
            <th scope="col">Cena zakupu</th>
            <th scope="col">Opcje</th>
        </tr>
    </thead>
    <tbody>
        @{ 
        int  i = 0;
        }
        @foreach (var v in Model.Vehicles)
        {
            {
                i++;
            }
        <tr>
            <th scope="row">@i</th>
            <td>@v.Producent</td>
            <td>@v.ModelName</td>
            <td>@v.ProductionYear r.</td>
            <td>@v.Mileage km</td>
            <td>@v.EngineCapacity cm<sup>3</sup></td>
            <td>@v.EnginePower KM</td>
            <td>@v.PurchaseDate.ToShortDateString()</td>
            <td>@v.PurchasePrice zł</td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = v.Id }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Usuń", "Delete", new { id = v.Id }, new { @class = "btn btn-danger btn-sm" })

            </td>
        </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Dodaj nowy pojazd", "Create", new object { }, new { @class = "btn btn-primary mt-2" })</p>


