﻿@model CarRepairs.ViewModels.VehicleImageViewModel

<h2>Edytuj pojazd</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Vehicle.Id)
    @Html.HiddenFor(model => model.Vehicle.UserId)

    <div class="bg-white">
        <figure style="text-align: center" class="mb-0">
            <img src="@Url.Content(Model.Image.Path)" class="rounded photo-size better-img mb-1" alt="@Model.Image.Title">
        </figure>
        <div class="form-actions col-12 no-color text-center mt-0 mb-4">
            @Html.ActionLink("Ustaw zdjęcie", "Create", "Image", new { vehicleID = Model.Vehicle.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", "Image", new { vehicleID = Model.Vehicle.Id }, new { @class = "btn btn-danger mx-1" })
        </div>
    </div>
    <div class="row bg-light">
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.Producent, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.Producent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.Producent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.ModelName, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.ModelName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.ProductionYear, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.ProductionYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.ProductionYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.Mileage, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.Mileage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.Mileage, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.EngineCapacity, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.EngineCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.EngineCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.EnginePower, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.EnginePower, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.EnginePower, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.PurchaseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-4">
            @Html.LabelFor(model => model.Vehicle.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Vehicle.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicle.PurchasePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions col-12 no-color text-center mt-4 mb-4">
            <input type="submit" value="Zapisz" class="btn btn-success" />
            @Html.ActionLink("Wróć do listy", "DisplayList", new object { }, new { @class = "btn btn-light" })
        </div>
    </div>
</div>
}
