﻿@model CarRepairs.UI.ViewModels.UserVehiclesImagesViewModel
@if (Request.IsAuthenticated)
{
    <div class="container">
        @foreach (var v in Model.VehicleImageModels)
        {
            <h2 class="mt-3 mb-3" style="text-align:center">@v.Vehicle.Producent @v.Vehicle.ModelName</h2>
            <div class="row bg-white">
                    <div class="col-12 col-md-6 better-figure">
                        <figure class="better-figure">
                            <a style="display:block; text-decoration:none;" href="@Url.Action("Edit", "Vehicle", new { id = v.Vehicle.Id })">
                                <img src="@Url.Content(v.Image.Path)" class="rounded photo-size better-img" alt="@v.Image.Title">
                            </a>
                        </figure>
                    </div>
                <div class="col-12 col-md-6">
                    <ul class="better-info">
                        <li><b>Marka</b>: @v.Vehicle.Producent</li>
                        <li>Model: @v.Vehicle.ModelName</li>
                        <li>Rok produkcji: @v.Vehicle.ProductionYear r.</li>
                        <li>Przebieg: @v.Vehicle.Mileage km</li>
                        <li>Pojemność skokowa: @v.Vehicle.EngineCapacity cm<sup>3</sup></li>
                        <li>Moc silnika: @v.Vehicle.EnginePower KM</li>
                        <li>Data zakupu: @v.Vehicle.PurchaseDate.ToShortDateString()</li>
                        <li>Cena zakupu: @v.Vehicle.PurchasePrice zł</li>
                    </ul>
                </div>
                <div class="col-12">
                    <h4 class="text-black-50 my-3"> Naprawy </h4>
                    @Html.ActionLink("Dodaj", "Create", "Repair", new { vehicleId = v.Vehicle.Id }, new { @class = "btn btn-success" })
                    @if (v.Vehicle.Repairs.Count == 0)
                    {
                        <div class="col-12 repair-empty-field bg-secondary rounded">
                            <i>Brak napraw</i>
                        </div>
                    }
                    else
                    {
                        foreach (var r in v.Vehicle.Repairs)
                        {
                            <a style="display:block; text-decoration:none;" href="@Url.Action("Edit", "Repair", new { id = r.Id })">
                                <div class="col-12 repair-field rounded">
                                    @r.Name
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="row bg-light" style="min-height:100px">
                <div class="col-12">

                </div>
            </div>
        }
    </div>
}
else
{
    <div class="jumbotron" style="padding: 2rem;">
        <h1 class="text-center">Dziennik pojazdów</h1>
        <p class="lead">
            Przechowuj informacje o swoich pojazdach, naprawach, kosztach eksploatacyjnych. Zaloguj się aby móc skorzystać z usług,&nbsp;
            a jeżeli jeszcze tego nie zrobiłeś utwórz darmowe konto i spróbuj.
            <br />
        </p>

        <div class="col-xs-1 text-center" style="margin-top:2rem;">
            <ul class="list-inline">
                <li class="list-inline-item">
                    @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new {
                                    id = "registerLink", @class="btn btn-primary btn-lg"})
                </li>
                <li class="list-inline-item">
                    @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new {
                                       id = "loginLink", @class = "btn btn-primary btn-lg" })
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Dane techniczne</h2>
            <p>
                Przechowuj potrzebne dane techniczne swoich pojazdów i korzystaj z nich w każdym momencie.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Koszty napraw</h2>
            <p> Zapisuj koszty napraw związanych z pojazdami, ceny części, usługi warsztatów, paragony i faktury.</p>
        </div>
        <div class="col-md-4">
            <h2>Statystyki spalania</h2>
            <p> Zbieraj informacje po każdym tankowaniu, aby otrzymać statystyki dotyczące spalania.</p>
        </div>
    </div>
}
